.valueEnter {
  animation-name: valueEnter;
  animation-duration: 0.3s;
}

.valueLeave {
  animation-name: valueLeave;
  animation-duration: 0.3s;
}

.valueJoinRight {
  animation-name: valueJoinRight;
  animation-duration: 0.3s;
}

@keyframes valueEnter {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes valueLeave {
  from {
    transform: translateY(25px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes valueJoinRight {
  from {
    transform: translateX(25px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
