.appContainer {
  height: 100vh;
  background: linear-gradient(rgb(164, 218, 238), rgb(190, 223, 235));
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.cardContainer {
  background-color: transparent;
  max-width: 60vw;
  min-width: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

