.selectElement {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("../../assets/angle-down-arrow.png") no-repeat 92%
    53%;
  flex: 1;
  margin-right: 30px;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(206, 214, 224);
  padding: 5px 15px;
  font-size: 1rem;
  color: rgb(49, 49, 49);
}

.hoverFaint {
  transition: 0.3s all linear;
}
